@import "tailwindcss";
@theme {
    --font-primary: "Sulphur Point", serif;
}

/* global css */
body,
html {
    @apply overflow-x-hidden;
}

body {
    @apply relative bg-[#000];
    font-family: var(--font-primary);
}

.container {
    @apply mx-auto px-[10px];
}

/* global css end */
/* hero-banner */
.hero-banner {
    @apply bg-[#000] text-white overflow-hidden relative py-[100px];
}

.primary-nav li a {
    @apply text-white text-[20px];
}

.hero-banner::before {
    content: "";
    background-image: url("/src/assets/images/hero-banner-image.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 86px;
    left: 0;
    right: 0;
    z-index: 1;
    /* box-shadow: 200px 200px 40px 250px #000; */
    max-width: 1440px;
    margin: 0 auto;
}

.hero-banner:after {
    content: "";
    box-shadow: 200px 221px 195px 420px #000;
    background-color: #000;
    height: 12%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    z-index: 2;
}

/* hero-banner end */
.tag {
    @apply text-white text-[20px] font-bold py-[17px] px-[42px] rounded-[60px] border border-[#565656] bg-[#2C2C2C];
}

.hd-lg {
    @apply text-white text-[70px] font-bold;
}

.services-item {
    @apply border-t border-[#9A9A9A] flex justify-between items-center py-[30px] h-[200px];
}

.hd-md {
    @apply text-white text-[40px] font-bold;
}

.hd-sm {
    @apply text-white text-[20px];
}

.services-card-img {
    @apply max-w-[280px] rounded-[10px];
}

.services-item:last-child {
    @apply border-b border-[#9A9A9A];
}

.services-item img {
    @apply opacity-0 transition-all duration-300;
}

.services-item:hover img {
    @apply opacity-100;
}

.about-us-sec-card {
    @apply rounded-[30px] py-[120px] px-[100px] text-center flex flex-col justify-center items-center;
    background: radial-gradient(193.16% 193.16% at 50% -85.91%, rgb(255 113 43 / 56%) 0%, rgb(254 113 42 / 7%) 65%);
}

.portfolio-card {
    @apply relative rounded-[20px];
}

.portfolio-card::before {
    content: "";
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 44.71%, #0000009c 90.38%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.portfolio-card-content {
    @apply absolute bottom-0 left-[20px] right-[20px] flex justify-between items-center z-2 opacity-0 transition-all duration-300;

}

.portfolio-card:hover .portfolio-card-content {
    @apply opacity-100 bottom-[30px];
}

:where([data-astro-image]) {
    object-fit: var(--fit);
    object-position: var(--pos);
}

:where([data-astro-image='constrained']) {
    max-width: 100%;
}

.hww-circle {
    @apply w-[100px] h-[100px] rounded-[50%] bg-[#2C2C2C] flex justify-center items-center border border-[#2C2C2C] relative;
}

.hww-card {
    @apply flex flex-col items-center justify-center;
}

.input-field {
    @apply border border-[#565656] w-full py-[14px] px-[32px] rounded-[60px] text-white text-[20px] bg-[#2C2C2C4D];
}

.input-field::placeholder {
    @apply text-[#626262];
}

.input-field.text-area {
    @apply rounded-[30px]
}

.contact-sec {
    @apply bg-[#0f0f0f8c] py-[100px];
}

.contact-sec .tag,
.faq-sec .tag {
    @apply py-[17px] px-[70px];
}

.accordion-item {
    @apply bg-[#2C2C2C80] mb-[10px];
}

.social-icons {
    @apply flex justify-between items-center max-w-[271px];
}

.social-icons li {
    @apply flex justify-center items-center bg-[#2C2C2C] border border-[#565656] rounded-[50%] w-[50px] h-[50px];
}

.social-icons li i {
    @apply text-white text-[20px] flex;
}

.contact-info-wrapper li,
.footer-links li {
    @apply mb-[30px];
}

.footer-links a {
    @apply text-[#666666] text-[20px];
}

.contact-info-wrapper i {
    @apply text-white text-[20px] mr-[20px];
}

.contact-info-wrapper a {
    @apply text-[#666666] text-[20px] font-bold mr-[10px];
}

.input-field.footer-input {
    @apply bg-[#2C2C2C] text-white;
}

.input-field.footer-input::placeholder {
    @apply text-white;
}

.testimonials-card {
    @apply p-[32px] bg-[#121212] rounded-[30px] relative m-[10px];
    /* Apply padding and rounded corners */
    position: relative;
    /* Set position to relative for the pseudo-element */
}
.testimonials-swiper {
    overflow: visible !important;
    padding: 0 20px;
  }

  

.testimonials-card::before {
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    right: -2px;
    bottom: -2px;
    border-radius: 30px;
    background: linear-gradient(317.75deg, #303030 24.6%, #F8F8F8 86.47%);
    z-index: -1;
    padding: 2px;
}

.star-rating {
    @apply flex items-center gap-[10px];
}

.star-rating i {
    @apply text-white;
}
.testimonials-sec::after,
.testimonials-sec::before {
    content: "";
    background-color: #000;
    width: 10px;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
}
.testimonials-sec::before {
    left: 0;
    box-shadow: 0px 200px 100px 130px #000;
    z-index: 2;
}
.testimonials-sec::after {
    right: 0;
    box-shadow: 0px 200px 100px 175px #000;
}
.effect-img {
    @apply absolute  right-0 mx-auto left-0 w-full max-w-[190px] ;
}
.testimonials-swiper .swiper-wrapper,
.brand-swiper .swiper-wrapper {
    transition-timing-function: linear !important;
}
.contact-video,
.header-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}
/* responsive */
@media (min-width: 1700px) {
    .container {
        @apply max-w-[1600px];
    }
}
@media (max-width: 991px) {
     /* <---------mobile menu----------> */
  .close-icon i,
  .menu-icon i {
    display: block;
    z-index: 2;
    background: var(--secondry-theme);
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    /* position: absolute;
    top: 38px;
    right: 10px; */
    border-radius: 2px;
  }

  .close-icon i {
    position: absolute;
    top: 2rem;
    right: 2rem;
    border-radius: 100%;
  }

  .primary-nav {
    transform: translateX(-100%);
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all ease-in-out 1s;
    padding: 4.4rem 0;
  }

  .primary-nav.active {
    transform: translateX(0);
    background-color: #fff;
    width: 70%;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    overflow: auto;
    height: 100%;
  }
}




