---
import { Image } from "astro:assets";
import logo from "../../assets/images/logo.png";
import Button from "../ui/Button.astro";
---

<header class="header absolute top-0 left-0 right-0 w-full z-[4]">
    <div class="container">
        <div class="flex justify-between items-center">
            <div class="logo">
                <Image src={logo} alt="logo" />
            </div>
            <nav class="flex-1 max-w-[530px]">
                <ul class="flex primary-nav justify-between items-center">
                    <li><a href="/">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Portfolio</a></li>
                    <li><a href="#">Testimonials</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
            <div>
                <Button
                    className="bg-[#2C2C2C] py-[17px] px-[38px] text-white border border-[#565656]"
                    label="Let’s Talk"
                />
            </div>
        </div>
    </div>
</header>

<script>
    let navs = document.querySelector(".primary-nav");
    let menuIcon = document.querySelectorAll(".menu-toggle");
    console.log(navs, menuIcon);
    menuIcon.forEach(function (e) {
        e.addEventListener("click", function () {
            navs.classList.toggle("active");
        });
    });
</script>
