---
import { Image } from "astro:assets";
import logo from "../../assets/images/logo.png";
import Button from "../ui/Button.astro";
---

<header class="header absolute top-0 pt-[30px] left-0 right-0 w-full z-[4]">
    <div class="container">
        <div class="flex justify-between items-center">
            <div class="logo">
                <Image src={logo} alt="logo" class="max-w-[70px] md:max-w-[250px]" />
            </div>
            <nav class="flex-1 max-w-[730px]">
                <ul class="flex primary-nav justify-between items-center">
                    <div class="close-icon">
                        <i class="fa-solid fa-xmark menu-toggle"></i>
                    </div>
                    <li><a href="#home">Home</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#portfolio">Portfolio</a></li>
                    <li><a href="#testimonials">Testimonials</a></li>
                    <li><a href="#how-we-work">How We Work</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li><a href="#faq">FAQ</a></li>
                </ul>
            </nav>
            <div>
                <Button
                    className="bg-[#2C2C2C] py-[17px] px-[38px] text-white border border-[#565656]"
                    label="Let’s Talk"
                />
            </div>
            <div class="menu-icon">
                <i class="fa-solid fa-bars menu-toggle"></i>
            </div>
        </div>
    </div>
</header>

<script>
    let navs = document.querySelector(".primary-nav");
    let menuIcon = document.querySelectorAll(".menu-toggle");
    console.log(navs, menuIcon);
    menuIcon.forEach(function (e) {
        e.addEventListener("click", function () {
            navs.classList.toggle("active");
        });
    });
</script>
